* {
    box-sizing: border-box;
}

body {
    margin: 0;
    flex-direction: column;
    background-color: #e3e3e3;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-family: "impact";
}

.nav-bar {
    flex-direction: column;
    margin-bottom: 20px;
}

.top-bar {
    background-color: #ff7f00;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    color: white;
}

.top-bar>* {
    margin-right: 24px;
    margin-left: 24px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 30px;
}

.bottom-bar {
    justify-content: space-between;
    align-items: center;
}

.bottom-bar input {
    background-color: #e3e3e3;
    background: transparent;
    border: none;
    border-bottom: 2px black solid;
}

.keywords-container h2 {
    display: flex;
    margin-left: 10px;
}

.main-body {
    justify-content: space-evenly;
}

.canvas-container {
    background-color: #e3e3e3;
    padding: 10px;
    display: none;
}

#my-canvas {
    margin: 20px auto;
    border: 1px solid rgb(0, 0, 0);
}

.control-box {
    margin-top: 30px;
    display: none;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(7, 60px);
    gap: 10px;
    background-color: #e3e3e3;
}

.control-box>* {
    font-family: Montserrat;
    text-align: center;
    padding-top: 17px;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
    font-size: 20px;
}

.control-box>*:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.control-box img {
    width: 60px;
    height: 60px;
}

.color-picker {
    grid-column: 1/-1;
    grid-row: 4/6;
    width: 130px;
    height: 100px;
}

.control-box input {
    grid-column: 1 / -1;
}

.change-font {
    grid-column: 1/3;
}

.toggle-share {
    grid-row: 6 / 7;
    grid-column: 4 / -1;
    background-color: #ff7f00;
}

.chage-font {
    grid-row: 4 / 5;
    grid-column: 1 / 7;
}

.font-list {
    visibility: hidden;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border-radius: 10px;
    transition: visibility 5s;
}

.font-list>* {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.gallery-main {
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.local-gallery-main {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.local-gallery-main .gallery-container img h2 {
    bottom: 8px;
    left: 16px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}

.gallery-container img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
}

.share-modal {
    font-family: impact;
    display: none;
    flex-direction: column;
    width: 300px;
    background-color: #ff7f00;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 61px;
    top: 486px;
    border-radius: 10px;
}

.local-img {
    position: relative;
}

.local-img h2 {
    font-family: impact;
    position: absolute;
    margin-top: -100px;
    color: #47a74f;
    cursor: pointer;
}

.share-modal>* {
    text-decoration: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.share-btn {
    font-family: impact;
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.share-btn:hover {
    transform: skew(-10deg);
}

.about-modal {
    /* display: flex; */
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    /* position: fixed; */
    /* bottom: ; */
    /* margin-top: 450px; */
    padding-top: 20px;
    padding-bottom: 300px;
}

.about-modal img {
    width: 200px;
    height: 200px;
    /* margin: 0 19px 0 0; */
    object-fit: cover;
    border-radius: 50%;
}

.footer {
    background-color: #ff7f00;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}


/* HELPERS */

.flex {
    display: flex;
}


/* FONTS */

@font-face {
    font-family: "impact";
    src: url(../font/impact/impact.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat.ttf);
}

@media (max-width: 900px) {
    #my-canvas {
        width: 400px;
        height: 400px;
    }
    .control-box {
        margin-top: 30px;
        display: none;
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(7, 40px);
    }
    .color-picker {
        width: 92px;
        height: 50px;
    }
    .control-box>* {
        padding-top: 10px;
        font-size: 15px;
    }
    .control-box img {
        width: 40px;
        height: 40px;
    }
    .share-modal {
        right: 61px;
        top: 386px;
    }
}

@media (max-width: 800px) {
    #my-canvas {
        width: 300px;
        height: 300px;
    }
    .gallery-container {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
    .bottom-bar {
        flex-direction: column;
    }
    .gallery-container img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 600px) {
    #my-canvas {
        width: 340px;
        height: 340px;
    }
    .control-box {
        margin-top: 30px;
        display: none;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: repeat(7, 60px);
    }
    .color-picker {
        width: 130px;
        height: 50px;
    }
    .control-box>* {
        padding-top: 20px;
        font-size: 20px;
    }
    .control-box img {
        width: 60px;
        height: 60px;
    }
    .main-body {
        flex-direction: column;
    }
    .control-box {
        justify-content: center;
    }
    .keywords-container {
        display: none;
    }
    .gallery-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 10px;
        margin-bottom: 51px;
    }
    .gallery-container img {
        width: 180px;
        height: 180px;
    }
    .top-bar {
        justify-content: center;
    }
    .btn-menu {
        visibility: visible;
        display: flex;
        font-size: 2rem;
    }
    .btn-menu:hover {
        transform: skew(-10deg);
    }
    .nav-links {
        visibility: hidden;
    }
    body.menu-open .nav-links {
        transform: translateX(0);
        visibility: visible;
        flex-direction: column;
        position: fixed;
        background-color: #ff7f00;
        right: 0;
        top: 0;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }
    body.menu-open .nav-links>* {
        padding-bottom: 20px;
    }
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.8s;
    }
    .top-bar>* {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .gallery-container img {
        width: 140px;
        height: 140px;
    }
    .gallery-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .top-bar h1 {
        margin-right: -200px;
    }
}

@media (max-width: 400px) {
    #my-canvas {
        width: 215px;
        height: 215px;
    }
    .control-box {
        margin-top: 30px;
        display: none;
        grid-template-columns: repeat(5, 35px);
        grid-template-rows: repeat(7, 35px);
    }
    .color-picker {
        width: 130px;
        height: 50px;
    }
    .control-box>* {
        padding-top: 10px;
        font-size: 13px;
    }
    .control-box img {
        width: 35px;
        height: 35px;
    }
}